/* Changa */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    scroll-behavior: smooth;
}
.btn-standart {
    border-radius: 42px;
    border: 1px solid var(--white);
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 28px;
    transition: all .5s;
    background-color: transparent;
}

.btn-standart-sm {
    border-radius: 42px;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: var(--dark-green);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .5s;
    background-color: var(--white);
}
.section-title-left,
.section-title-right {
    border-bottom: 1px solid var(--light-green);
    display: flex;
    justify-content: center;
    transform: rotate(270deg);
    width: 10%;
}

.section-title-right {
    transform: rotate(-270deg);
}

.section-title-center {
    transform: rotate(0);
}
.d-flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

/* Slide */
.pages {
    width: 100%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    transition: all 0.7s;
}

/* Intro */
#intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    background-color: var(--dark-green-opacity);
    position: absolute;
    z-index: 99;
    left: 0;
}

.intro-content {
    width: 100%;
    position: relative;
    font-size: 1.5em;
    transition: opacity 1s ease-in-out;
}

.intro-hidden {
    opacity: 0;
}

#intro button {
    background-color: transparent;
    border: none;
    color: var(--opacity-white);
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
}

#intro h1 {
    width: 55%;
    font-size: 45px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
}

#intro img {
    width: 30%;
    opacity: .7;
}

#intro video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Home Page */
#home-page {
    width: 100%;
}

/* Home Page Header */
.home-page-header {
    width: 100%;
    height: 65px;
    justify-content: space-evenly;
    background-color: var(--dark-green);
    z-index: 80;
    /* position: relative; */
    /* transition: dropAnimation .5s ease-out; */
}

.home-page-header .header-logo {
    width: 15%;
}

.home-page-header .header-logo a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 29px;
    color: var(--white);
}

.home-page-header .header-logo img {
    width: 85px;
    filter: brightness(400%);
}

.home-page-header .header-nav {
    width: 50%;
}

.home-page-header .header-nav ul {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-page-header .header-nav ul li {
    list-style: none;
}

.home-page-header .header-nav ul li a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}

/* Single Slider */
#single-slider {
    background-image: url(../assets/headerbg.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.744);
    background-attachment: fixed;
    color: var(--white);
    width: 100%;
    height: 100vh;
}

#single-slider h2 {
    font-size: 60px;
    margin: 5px 0;
}

#single-slider p {
    width: 65%;
    font-size: 24px;
    margin-left: 15px;
    margin: 35px 0;
    /* text-indent: 50px; */
    text-align: center;
}

/* Activity */
#activity {
    width: 100%;
    height: 55vh;
    background: var(--dark-green-1);
    background-image: url(../assets/activitybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.852);
    justify-content: space-around;
    text-align: center;
    filter: brightness(0.9);
    color: var(--dark-green);
}

#activity h3 {
    font-size: 45px;
    color: var(--white);
}

.activity-items {
    width: 90%;
    flex-wrap: wrap;
}

.activity-item {
    width: 20%;
    height: 150px;
    padding: 20px;
    border: 1px solid var(--white);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    color: var(--white);
}

.activity-item h4 {
    font-size: 20px;
}

.activity-item h6 {
    font-size: 16px;
}

.activity-item span {
    color: var(--white);
    background-color: var(--dark-green);
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 35px;
    font-weight: bold;
}


/* accommodation */
#accommodation {
    width: 100%;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#accommodation h3 {
    font-size: 45px;
    color: var(--dark-green);
}

.accommodation-flex-slide {
    height: 85vh;
}

.accommodation-flex-slide-item {
    width: 100%;
    height: 100%;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.accommodation-flex-slide-item img {
    width: 100%;
    height: 85vh;
    position: absolute;
    left: 0;
    object-fit: cover;
    filter: brightness(0.5);
}

.accommodation-flex-slide-item h1 {
    transform: rotate(180deg);
    color: var(--dark-green);
    background-color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    border-radius: 35px;
    font-size: 25px;
    padding: 20px 10px;
}

.flex-slide-item-active {
    width: 800%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-slide-item-active p {
    z-index: 55;
    background: var(--linear-green);
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 35px;
    font-weight: bold;
    color: var(--white);
}

.flex-slide-info {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 55;
}

.flex-slide-info button {
    background-color: transparent;
    color: white;
}

#gallery {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

#gallery h3 {
    font-size: 45px;
    color: var(--dark-green);
    position: absolute;
    z-index: 55;
    width: 10%;
}

/* Slider */
.slider-container {
    width: 90%;
    height: 65vh;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 25%;
    height: 65vh;
    object-fit: cover;
    padding: 5px;
    /* border-radius: 35px; */
}

#faq {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url(../assets/slider/3.jpg );
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--opacity-black);
}

#faq h3 {
    font-size: 45px;
    color: var(--white);
    z-index: 55;
    border-bottom: 1px solid var(--white);
    height: 10vh;
    margin-bottom: 35px;
}

.faq-content {
    width: 70%;
    height: 100%;
}

.faq-question {
    width: 100%;
    border-bottom: 2px solid var(--white);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    background-color: transparent;
    text-align: start;
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-answer {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--dark-green-opacity);
    border-left: 5px solid var(--dark-green);
    color: var(--white);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
}
.faq-item.active .faq-answer{
    opacity: 1;
    max-height: 200px;
    transition: opacity 1s ease, max-height 1s ease;
}
.faq-char{
    font-weight: bold;
    font-size: 22px;
}
footer{
    width: 100%;
    display: flex;  
    justify-content: space-evenly;
    padding: 35px;
    background-color: var(--dark-green);
}

.footer-logo {
    width: 20%;
}

.footer-logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-size: 29px;
}

.footer-logo img {
    width: 80%;
    filter: brightness(400%);
}

.footer-nav {
    width: 20%;
    justify-content: start;
}

.footer-nav ul {
    columns: 2;
}

.footer-nav li {
    list-style: none;
    padding: 5px;
}

.footer-nav li a {
    color: var(--white);
    text-decoration: none;
}

.footer-nav h1 {
    font-size: 18px;
    line-height: 50px;
    color: var(--white);
}
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: var(--white);
}

.footer-contact h1 {
    font-size: 18px;
    line-height: 50px;
}

.footer-info-items li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer-info-items li i {
    margin-right: 15px;
    
}
.footer-social-medias{margin-top: 10px;}
.footer-social-media {
    display: flex;
    justify-content: space-evenly;    
}
.footer-sub{
    width: 25%;
    color: var(--white);
    justify-content: space-between;
}
.footer-sub h1{
    font-size: 22px;
    line-height: 50px;
}
.footer-sub input{
    width: 70%;
    font-size: 18px;
    line-height: 50px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    color: var(--white);
}
.footer-sub input:active{ background-color: transparent;}
.footer-sub input::placeholder{ color: white;}
.footer-sub input:focus{ outline: none;}


.modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    z-index: 59;
  }
  
  .modal-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 50px;
    background-color: var(--opacity-black);
    color: var(--white);
    font-size: 18px;
  }
  .modal-buttons {
    width: 15%;
    justify-content: space-evenly;
  }
    .modal-buttons button{
        padding: 10px;
        background-color: var(--white);
        border: none;
        font-weight: bold;
    }
    .modal-content p{
        width: 60%;
        margin-bottom: 10px;
    }
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
  }