/* Changa */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}
.btn-standart{
    box-shadow:inset -2px -2px 0px 0px var(--dark-green);
	border-radius:42px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:var(--dark-green);
	font-size:20px;
	font-weight:bold;
	padding:15px 28px;
    transition: all .5s;
}
.btn-standart-sm{
    box-shadow:inset -2px -2px 0px 0px var(--dark-green);
	border-radius:42px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:var(--dark-green);
	font-size:16px;
	font-weight:bold;
	padding:10px 10px;
    transition: all .5s;
}
.btn-standart:hover{
    background-color: transparent;
    color: var(--white);
}
.section-title-left{
    border-right: 1px solid var(--light-green);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title-right{
    border-left: 1px solid var(--light-green);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Slide */
.pages {
    width: 200%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    transition: all 0.7s;
}

/* Intro */
#intro {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    transition: all 1s ease-in;
    background-color: var(--dark-green-opacity);
}

.intro-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5em;
    transition: opacity 1s ease-in-out;
}

.intro-hidden {
    opacity: 0;
}

#intro button {
    background-color: transparent;
    border: none;
    color: var(--opacity-white);
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
}

#intro h1 {
    width: 55%;
    font-size: 45px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
}

#intro img {
    width: 30%;
    opacity: .7;
    position: absolute;
}

#intro video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Home Page */
#home-page {
    width: 50%;
}

/* Home Page Header */
.home-page-header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-green-opacity);
    position: fixed;
}

.home-page-header .header-logo {
    width: 15%;
}

.home-page-header .header-logo a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 29px;
    color: var(--white);
}

.home-page-header .header-logo img {
    width: 85px;
    filter: brightness(400%);
}
.home-page-header .header-nav {
    width: 50%;
}

.home-page-header .header-nav ul {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-page-header .header-nav ul li {
    list-style: none;
}

.home-page-header .header-nav ul li a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}

/* Single Slider */
#single-slider {
    background-image: url(../assets/headerbg.jpg);
    background-blend-mode: multiply;
    background-color:rgba(0, 0, 0, 0.744);
    background-attachment: fixed;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#single-slider h2 {
    font-size: 60px;
    margin: 5px 0;
}
#single-slider p {
    width: 65%;
    font-size: 24px;
    margin-left: 15px;
    margin: 35px 0;
    /* text-indent: 50px; */
    text-align: center;
}
/* Activity */
#activity{
    width: 100%;
    height: 70vh;
    /* background-color: var(--white); */
    background: var(--linear-green);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--dark-green);
    padding: 20px;
}
#activity h3{
    font-size: 45px;
    color: var(--white);
}
/* Slider */
.slider-container {
    width: 30%;
    height: 95%;
    overflow: hidden;
    border-radius: 100%;
    box-shadow:  1px 1px 15px 5px  var(--dark-green);
}
.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -100px;
}
.activity-items{
    width: 50%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.activity-item{
    width: 25%;
    height: 130px;
    padding: 20px;
    border: 1px solid var(--white);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 35px;
    background-color: var(--white);
    color: var(--dark-green);
    box-shadow: 1px 1px 2px 2px var(--white);
}
.activity-item h4{
    font-size: 20px;
}
.activity-item h6{
    font-size: 16px;
}
.activity-item span{
    color: var(--white);
    background-color: var(--green);
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 35px;
}


/* accommodation */
#accommodation{
    width: 100%;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
}
#accommodation h3{
    font-size: 45px;
    color: var(--dark-green);
}
.accommodation-slide{
    width: 80%;
}
